name: C Test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Compile test
        run: gcc fatorial.c fatorial_test.c -o test.out

      - name: Run test
        run: ./test.out
